.card {
    background:#6CADDC;
    border-radius: 2px;
    height: 325px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    font-family: 'Ewert', cursive;
    font-size: 15px;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    font-family: 'Pacifico', cursive !important;
    background:#6CADDC;
  }

  .card > .content > ul {
    list-style-type: none;
    font-family: 'Pacifico', cursive;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
    font-family: 'Pacifico', cursive;
  }

  strong {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    text-align: center !important;
    text-justify: center !important;
  }